<div class="container">
  <form class="row g-3" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
    <div class="col-lg-6 col-md-6 col-12">
      <label class="form-label">Department ID</label>
      <input type="number" class="form-control" formControlName="deptid" />
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <label class="form-label"> Department Name</label>
      <input type="text" class="form-control" formControlName="dname" />
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <label class="form-label"> Manager Name</label>
      <select class="form-control" formControlName="mgrid">
        <option *ngFor="let mgr of mgrs" value="{{ mgr.empid }}">
          {{ mgr.ename }}
        </option>
      </select>
    </div>
    <div class="col-lg-6 col-md-6 col-12">
      <label class="form-label">location</label>
      <select class="form-control" formControlName="location_id">
        <option
          *ngFor="let location of locations"
          value="{{ location.locationid }}"
        >
          {{ location.location }}
        </option>
      </select>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">ADD</button>
    </div>
  </form>
</div>
